<h1>{{title}}</h1>

<div>
    <p>Directed by: {{director}}</p>
    <p>cast: {{stars}}</p>
    <p>description: {{description}}</p>
    <img src="{{image}}" alt="{{title}}"/>
    <p>showtimes: {{showtimes}}</p>
</div>

